* {
    margin: 0px;
    font-family: 'Open Sans', sans-serif;
}

/* header and navigarion styles */

.header{
    background: #FFF8F3;
    background-image: url('../images/header_bg.png'), url('../images/developer.png');
    background-repeat: no-repeat;
    background-position: bottom right, left;
    /* margin-top: -50px; */
  
}

nav{
    display: flex;
    justify-content: space-between;
    margin: 50px 200px;
}
nav ul{
    display: flex;
    align-items: center;
}

nav li{
    list-style: none;
    margin-left: 50px;
}

.nav-title {
    font-weight: 400;
    font-size: 45px;
}

.text-orange{
    color: #FD6E0A;
}

.btn-orange{
    color: white;
    font-weight: 400;
    font-size: 20px;
    background: #FD6E0A;
    border-radius: 5px;
    border: 0px;
    padding: 18px 35px;
}

#photo1{
    height: 100%;
    width: 100%;
    margin-bottom: -60px;
}




/* banner styles */
.banner{
    display: flex;
    align-items: center;
    margin: 0 90px;

}
.banner-title{
    
    font-weight: 700;
    font-size: 85px;
    margin-bottom: 20px;
}
.banner-sub-title{
    
    font-weight: 600;
    font-size: 45px;
}

.banner-text{
    color: #757575;
    font-weight: 400;
    font-size: 18px;
    margin-bottom: 30px;
}

/* main section */

main{
    max-width: 1140px;
    margin: 0px auto;
}

section{
    margin-top: 50px;
}

/* about section styles */
.about{
    
    background: #fff8f3;
    border-radius: 10px;
    padding: 130px 150px;
    text-align: center;

}

.section-title{
   
    margin-bottom: 30px;
    font-size: 35px;
    font-weight: 700;
    text-align: center;

}

.section-description{
    color: #757575;
    font-size: 18px;
    margin-bottom: 30px;


}

.about-info-container{
    display: flex;
    justify-content: space-around;
    
}

.about .info-title{
    color: #757575;
    font-size: 20px;
    font-weight: 400;

}

.info-description{
    color: #474747;
    font-size: 20px;
    font-weight: 700;

}


/* what i do styles */

.what-i-do{
    
    text-align: center;
}

.skills-container{
    display: flex;
    gap: 24px;
}

.skill{
    background: #FFFFFF;
    box-shadow: 0px 6px 50px rgba(0, 0, 0, 0.06); 
    border-radius: 5px;
    padding: 30px;

}

.skill-title{
    font-size: 20px;
    font-weight: 700;
    margin-top: 30px;
    margin-bottom: 20px;

}
.skill-description{

    color: #757575;
    font-size: 16px;
    font-weight: 400;
}

/* Resume styles */

.resume-content{
    display: flex;
}

.resume .title{
    
    color: #474747;
    font-size: 25px;
    font-weight: 700;
    
}
.resume .sub-title{

    color: #757575;
    font-size: 20px;
    font-weight: 600;
}

.resume .description{

    color: #757575;
    font-size: 16px;
    font-weight: 400;
    
}

.resume-btn{
    margin: 50px;
    text-align: center;
}

/* contact section */

.contact{
    display: flex;
    gap: 100px;
    background: #FFF8F3;
    padding: 130px 200px;
    /* justify-content: space-around; */

}

.contact .contact-title{

    text-align: left;
    margin-bottom: 30px;

}

input{
    height: 64px;
}

.contact input[type="text"], input[type="email"], textarea{
    margin-bottom: 24px;
    border: 0;
    width: 100%;
    padding: 18px 30px;
}

.contact a{
  
    text-decoration: none;
   
}
    
    
#ficon{
    margin-top: 15px;
    display: flex;
    gap: 20px;

}

/* Responsive area */

@media screen and (max-width: 576px) {

    .header{
        background-image: none;
    }

    nav, .banner, .skills-container, .resume-content, .about-info-container, .contact{
        flex-direction: column;
        padding: 10px 20px;
        
    }

    nav ul{
        flex-direction: column;
        gap: 20px;
        align-items: flex-start;
    }

    nav li{
        margin-left: 0px;
    }

    /* .banner{
        margin: 0 20px;
    } */

    .banner{
        margin: 0 20px;
    }

    .banner img{
        width: 100%;
    }

    .about, .contact {
        padding: 20px;
    }

    .contact input[type="text"], input[type="email"], textarea {
        padding: 0 0 0 5px;
    }
    
}

@media screen and (min-width: 577px) and (max-width: 992px){

    .skills-container, .about-info-container{
        
        display: grid;
        grid-template-columns: repeat(2, auto);
    }

    .about, .contact {
        padding: 20px;
    }

    .contact, .banner{
        flex-direction: column;
    }

    .contact input[type="text"], input[type="email"], textarea {
        padding: 0 0 0 5px;
    }

    .resume-content{
        padding: 0 0 0 10px;
    }

    nav ul{
        flex-direction: column;
        gap: 20px;
        align-items: flex-start;
        padding-left: 20px;
    }
    
}

